#include <windows.h>
#include <commctrl.h>
#include "resource.h"
#include "TSTaskCentre.h"


IDI_MAIN ICON "TSTaskCentre.ico"

IDB_SETTINGS	BITMAP "Settings.bmp"
IDB_LOG_ICONS	BITMAP "LogIcons.bmp"
IDB_SPACE_ICONS	BITMAP "SpaceIcons.bmp"

ID_PNG_LOGO PNG "Logo.png"

IDM_MAIN MENUEX
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "最小化(&M)",CM_MINIMIZE,,MFS_DEFAULT
		MENUITEM "常に前面に表示(&T)",CM_ALWAYS_ON_TOP
		MENUITEM "半透明表示(&L)",CM_TRANSLUCENT
		MENUITEM "情報バー(&I)",CM_INFORMATION_BAR
		MENUITEM "",-1,MFT_SEPARATOR
		MENUITEM "新規タスク(&N)",CM_NEW_TASK
		MENUITEM "",-1,MFT_SEPARATOR
		MENUITEM "TSTaskCentre の設定(&S)...",CM_SETTINGS
		MENUITEM "バージョン情報(&A)",CM_ABOUT
		MENUITEM "",-1,MFT_SEPARATOR
		MENUITEM "全ての TSTask を終了(&E)",CM_END_ALL_TASKS
		MENUITEM "全ての TSTask を終了させて閉じる(&X)",CM_END_ALL_TASKS_AND_EXIT
		MENUITEM "",-1,MFT_SEPARATOR
		MENUITEM "閉じる(&C)",CM_CLOSE
	END
END

IDM_TASK MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "TSTask の設定(&S)...",CM_TASK_SETTINGS
		MENUITEM "ログの表示(&L)",CM_TASK_LOG
		MENUITEM "チャンネル一覧(&C)",CM_TASK_CHANNEL_LIST
		MENUITEM "タスクの情報(&I)",CM_TASK_INFO
		MENUITEM "メッセージ送信(&M)...",CM_TASK_SEND_MESSAGE
		MENUITEM SEPARATOR
		MENUITEM "終了(&X)",CM_TASK_END
	END
END

IDM_TRAY MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "表示(&S)",CM_SHOW
		MENUITEM SEPARATOR
		MENUITEM "全ての TSTask を終了させて閉じる(&X)",CM_END_ALL_TASKS_AND_EXIT
		MENUITEM "閉じる(&C)",CM_CLOSE
	END
END

IDD_ABOUT DIALOG 0,0,240,74
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "バージョン情報"
FONT 9,"Meiryo UI"
BEGIN
	DEFPUSHBUTTON "OK",IDOK,128,52,48,14
	CONTROL "",IDC_ABOUT_LOGO,STATIC,WS_CHILD | NOT WS_VISIBLE,0,0,64,74
	CTEXT "",IDC_ABOUT_VERSION,68,8,168,8
	CTEXT "デジタル放送総合技術研究開発機構",-1,68,16,168,8
	CTEXT "BonTsEngineオリジナル作者: 拡張ツール中の人 氏\n改造版作者: Meru-co氏",-1,68,28,168,16
END

IDD_MESSAGE DIALOG 0,0,224,54
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION ""
FONT 9,"Meiryo UI"
BEGIN
	PUSHBUTTON "OK",IDOK,100,32,56,14
	PUSHBUTTON "キャンセル",IDCANCEL,160,32,56,14
	CONTROL "",IDC_MESSAGE_ICON,"STATIC",SS_ICON | WS_CHILD | WS_VISIBLE,8,8,16,16
	EDITTEXT IDC_MESSAGE_TEXT,32,8,184,16,ES_MULTILINE | ES_READONLY | ES_AUTOHSCROLL | NOT WS_BORDER
	AUTOCHECKBOX "今後確認を行わない",IDC_MESSAGE_DONT_ASK_AGAIN,8,37,80,9,NOT WS_VISIBLE
END

IDD_SETTINGS DIALOG 0,0,332,282
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "設定"
FONT 9,"Meiryo UI"
BEGIN
	LISTBOX IDC_SETTINGS_LIST,4,4,88,252,LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_OWNERDRAWFIXED | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
	LTEXT "",IDC_SETTINGS_TITLE,100,4,224,12,SS_OWNERDRAW
	LTEXT "",IDC_SETTINGS_PAGE_PLACE,92,16,240,240,NOT WS_VISIBLE
	LTEXT "",-1,4,260,324,1,SS_ETCHEDHORZ
	DEFPUSHBUTTON "OK",IDOK,228,264,48,14
	PUSHBUTTON "キャンセル",IDCANCEL,280,264,48,14
	//PUSHBUTTON "ヘルプ",IDC_SETTINGS_HELP,4,264,48,14
END

IDD_SETTINGS_GENERAL DIALOG 0,0,240,240
STYLE DS_CONTROL | WS_CHILD
CAPTION "一般"
FONT 9,"Meiryo UI"
BEGIN
	AUTOCHECKBOX "終了時に確認を取る(&X)",IDC_SETTINGS_CONFIRM_CLOSE,8,8,88,9
	AUTOCHECKBOX "動作中の TSTask がある場合のみ(&E)",IDC_SETTINGS_CONFIRM_CLOSE_TASK_EXISTS,16,20,128,9
	AUTOCHECKBOX "TSTask の終了時に確認を取る(&R)",IDC_SETTINGS_CONFIRM_TASK_EXIT,8,32,120,9
	AUTOCHECKBOX "全ての TSTask が終了したら TSTaskCentre を終了する(&A)",IDC_SETTINGS_EXIT_WHEN_ALL_TASK_ENDED,8,44,196,9

	AUTOCHECKBOX "タスクバーに表示する(&B)",IDC_SETTINGS_SHOW_IN_TASKBAR,8,60,88,9
	AUTOCHECKBOX "タスクトレイにアイコンを表示する(&I)",IDC_SETTINGS_SHOW_TRAY_ICON,8,72,120,9
	AUTOCHECKBOX "最小化時にタスクトレイに格納する(&T)",IDC_SETTINGS_MINIMIZE_TO_TRAY,8,84,128,9

	GROUPBOX "新規タスク",-1,8,100,224,60,BS_GROUPBOX
	LTEXT "TSTaskCentre で新規タスクを起動する場合の設定です。",-1,16,112,208,8
	RTEXT "ファイル名(&N):",-1,16,126,44,8
	EDITTEXT IDC_SETTINGS_TSTASK_FILE_NAME,64,124,160,12,ES_AUTOHSCROLL
	RTEXT "オプション(&O):",-1,16,142,44,8
	EDITTEXT IDC_SETTINGS_TSTASK_OPTIONS,64,140,160,12,ES_AUTOHSCROLL

	GROUPBOX "テーマ(&H):",-1,8,168,224,32,BS_GROUPBOX
	COMBOBOX IDC_SETTINGS_THEME,16,180,120,80,CBS_DROPDOWNLIST | WS_TABSTOP
#ifdef _DEBUG
	PUSHBUTTON "保存(&S)",IDC_SETTINGS_SAVE_DEFAULT_THEME,176,179,48,14
#endif
END

IDD_SETTINGS_STATUS_BAR DIALOG 0,0,240,240
STYLE DS_CONTROL | WS_CHILD
CAPTION "ステータスバー"
FONT 9,"Meiryo UI"
BEGIN
	LTEXT "項目(&I):",-1,8,8,32,8
	RTEXT "(※ドラッグで位置を移動。各項目の右端をドラッグして幅を変更)",-1,40,8,192,8
	LISTBOX IDC_SETTINGS_STATUS_BAR_ITEM_LIST,8,20,224,150,LBS_OWNERDRAWFIXED | LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
	PUSHBUTTON "デフォルトに戻す(&D)",IDC_SETTINGS_STATUS_BAR_DEFAULT,152,174,80,14
	AUTOCHECKBOX "デフォルトで複数行表示する(&M)",IDC_SETTINGS_STATUS_BAR_MULTI_ROW,8,192,112,9
	RTEXT "最大行数(&R):",-1,8,206,48,8
	COMBOBOX IDC_SETTINGS_STATUS_BAR_MAX_ROWS,60,204,32,80,CBS_DROPDOWNLIST | WS_TABSTOP
	RTEXT "フォント(&F):",-1,8,222,48,8
	LTEXT "",IDC_SETTINGS_STATUS_BAR_FONT_INFO,60,221,156,10,SS_SUNKEN
	PUSHBUTTON "...",IDC_SETTINGS_STATUS_BAR_CHOOSE_FONT,220,219,14,14
END

IDD_SETTINGS_INFORMATION_BAR DIALOG 0,0,240,240
STYLE DS_CONTROL | WS_CHILD
CAPTION "情報バー"
FONT 9,"Meiryo UI"
BEGIN
	LTEXT "項目(&I):",-1,8,8,32,8
	LISTBOX IDC_SETTINGS_INFORMATION_BAR_ITEM_LIST,8,20,224,80,LBS_OWNERDRAWFIXED | LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
	PUSHBUTTON "新規項目(&N)",IDC_SETTINGS_INFORMATION_BAR_NEW_ITEM,36,102,48,14
	PUSHBUTTON "削除(&D)",IDC_SETTINGS_INFORMATION_BAR_DELETE_ITEM,92,102,48,14
	PUSHBUTTON "上へ(&U)",IDC_SETTINGS_INFORMATION_BAR_MOVE_UP_ITEM,148,102,40,14
	PUSHBUTTON "下へ(&W)",IDC_SETTINGS_INFORMATION_BAR_MOVE_DOWN_ITEM,192,102,40,14

	RTEXT "フォーマット(&F):",IDC_SETTINGS_INFORMATION_BAR_FORMAT_LABEL,8,122,44,8
	EDITTEXT IDC_SETTINGS_INFORMATION_BAR_FORMAT,56,120,160,12,ES_AUTOHSCROLL | ES_NOHIDESEL
	PUSHBUTTON "▼",IDC_SETTINGS_INFORMATION_BAR_FORMAT_MENU,220,119,14,14
	RTEXT "文字寄せ(&A):",IDC_SETTINGS_INFORMATION_BAR_TEXT_ALIGN_LABEL,8,138,44,8
	COMBOBOX IDC_SETTINGS_INFORMATION_BAR_TEXT_ALIGN,56,136,56,64,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	RTEXT "幅(&W):",IDC_SETTINGS_INFORMATION_BAR_ITEM_WIDTH_LABEL,120,138,24,8
	EDITTEXT IDC_SETTINGS_INFORMATION_BAR_ITEM_WIDTH,148,136,32,12,ES_NUMBER | ES_AUTOHSCROLL
	CONTROL "",IDC_SETTINGS_INFORMATION_BAR_ITEM_WIDTH_SPIN,"msctls_updown32",WS_CHILD | WS_VISIBLE | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_NOTHOUSANDS | UDS_SETBUDDYINT,170,136,10,12

	LTEXT "",-1,4,156,232,1,SS_ETCHEDHORZ

	RTEXT "フォント(&O):",-1,8,166,44,8
	LTEXT "",IDC_SETTINGS_INFORMATION_BAR_FONT_INFO,56,165,160,10,SS_SUNKEN
	PUSHBUTTON "...",IDC_SETTINGS_INFORMATION_BAR_CHOOSE_FONT,220,163,14,14
	RTEXT "更新間隔(&P):",-1,8,182,44,8
	COMBOBOX IDC_SETTINGS_INFORMATION_BAR_UPDATE_INTERVAL,56,180,40,120,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	AUTOCHECKBOX "エラー情報を表示する(&E)",IDC_SETTINGS_INFORMATION_BAR_SHOW_ERROR,8,198,88,9
	RTEXT "表示時間(&R):",IDC_SETTINGS_INFORMATION_BAR_ERROR_DURATION_LABEL,100,198,48,8
	COMBOBOX IDC_SETTINGS_INFORMATION_BAR_ERROR_DURATION,152,196,40,120,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END


IDD_SETTINGS_RECORDING DIALOG 0,0,240,240
STYLE DS_CONTROL | WS_CHILD
CAPTION "録画"
FONT 9,"Meiryo UI"
BEGIN
	AUTOCHECKBOX "録画中のチャンネル変更は確認を取る(&C)",IDC_SETTINGS_RECORDING_CONFIRM_CHANNEL_CHANGE,8,8,140,9
	AUTOCHECKBOX "録画中の終了は確認を取る(&X)",IDC_SETTINGS_RECORDING_CONFIRM_EXIT,8,20,112,9
	AUTOCHECKBOX "録画停止は確認を取る(&T)",IDC_SETTINGS_RECORDING_CONFIRM_STOP,8,32,96,9
END

IDD_SETTINGS_TOOLS DIALOG 0,0,240,240
STYLE DS_CONTROL | WS_CHILD
CAPTION "ツール"
FONT 9,"Meiryo UI"
BEGIN
	CONTROL "",IDC_SETTINGS_TOOLS_LIST,"SysListView32",WS_CHILD | WS_VISIBLE | WS_BORDER | WS_HSCROLL | WS_VSCROLL | WS_TABSTOP | LVS_REPORT | LVS_SINGLESEL | LVS_NOSORTHEADER | LVS_SHOWSELALWAYS,8,8,224,128
	PUSHBUTTON "上へ(&U)",IDC_SETTINGS_TOOLS_MOVE_UP,104,138,40,14,WS_DISABLED
	PUSHBUTTON "下へ(&D)",IDC_SETTINGS_TOOLS_MOVE_DOWN,148,138,40,14,WS_DISABLED
	PUSHBUTTON "削除(&E)",IDC_SETTINGS_TOOLS_DELETE,192,138,40,14,WS_DISABLED
	PUSHBUTTON "追加(&A)",IDC_SETTINGS_TOOLS_ADD,12,148,40,16,WS_DISABLED
	PUSHBUTTON "変更(&R)",IDC_SETTINGS_TOOLS_REPLACE,56,148,40,16,WS_DISABLED
	GROUPBOX "",-1,8,156,224,76,BS_GROUPBOX | WS_CLIPSIBLINGS
	RTEXT "名前(&N):",-1,16,170,40,8
	EDITTEXT IDC_SETTINGS_TOOLS_NAME,60,168,164,12,ES_AUTOHSCROLL
	RTEXT "コマンド(&C):",-1,16,186,40,8
	EDITTEXT IDC_SETTINGS_TOOLS_COMMAND,60,184,148,12,ES_AUTOHSCROLL | ES_NOHIDESEL
	PUSHBUTTON "▼",IDC_SETTINGS_TOOLS_COMMAND_PARAMETERS,210,183,14,14
	RTEXT "トリガー(&T):",-1,16,202,40,8
	EDITTEXT IDC_SETTINGS_TOOLS_TRIGGERS,60,200,148,12,ES_AUTOHSCROLL | ES_NOHIDESEL
	PUSHBUTTON "▼",IDC_SETTINGS_TOOLS_TRIGGERS_MENU,210,199,14,14
	AUTOCHECKBOX "メニューに表示する(&M)",IDC_SETTINGS_TOOLS_SHOW_IN_MENU,16,216,88,9
END

IDD_SETTINGS_LOG DIALOG 0,0,240,240
STYLE DS_CONTROL | WS_CHILD
CAPTION "ログ"
FONT 9,"Meiryo UI"
BEGIN
	CONTROL "",IDC_SETTINGS_LOG_LIST,"SysListView32",WS_CHILD | WS_VISIBLE | WS_BORDER | WS_HSCROLL | WS_VSCROLL | WS_TABSTOP | LVS_REPORT | LVS_SINGLESEL | LVS_NOSORTHEADER,8,8,224,192
	PUSHBUTTON "クリア(&C)",IDC_SETTINGS_LOG_CLEAR,116,202,56,14
	PUSHBUTTON "保存(&S)...",IDC_SETTINGS_LOG_SAVE,176,202,56,14
	RTEXT "記録レベル(&L):",-1,8,222,48,8
	COMBOBOX IDC_SETTINGS_LOG_LEVEL,60,220,96,80,CBS_DROPDOWNLIST | WS_TABSTOP
END

IDD_TASK_SETTINGS_GENERAL DIALOG 0,0,240,240
STYLE DS_CONTROL | WS_CHILD
CAPTION "一般"
FONT 9,"Meiryo UI"
BEGIN
	GROUPBOX "BonDriver の検索フォルダ(&F):",-1,8,8,224,44,BS_GROUPBOX
	LTEXT "空欄でプログラムのあるフォルダになります。",-1,16,20,208,8
	EDITTEXT IDC_TASK_SETTINGS_BONDRIVER_FOLDER,16,32,190,12,ES_AUTOHSCROLL
	PUSHBUTTON "...",IDC_TASK_SETTINGS_BONDRIVER_FOLDER_BROWSE,210,31,14,14

	GROUPBOX "",-1,8,60,224,48,BS_GROUPBOX | WS_CLIPSIBLINGS
	AUTOCHECKBOX "TSTaskCentre を一緒に起動する(&X)",IDC_TASK_SETTINGS_EXECUTE_CLIENT,12,60,124,9
	RTEXT "ファイル名(&N):",IDC_TASK_SETTINGS_CLIENT_FILE_NAME_LABEL,16,74,44,8
	EDITTEXT IDC_TASK_SETTINGS_CLIENT_FILE_NAME,64,72,160,12,ES_AUTOHSCROLL
	RTEXT "オプション(&O):",IDC_TASK_SETTINGS_CLIENT_OPTIONS_LABEL,16,90,44,8
	EDITTEXT IDC_TASK_SETTINGS_CLIENT_OPTIONS,64,88,160,12,ES_AUTOHSCROLL
END

IDD_TASK_SETTINGS_RECORDING DIALOG 0,0,240,240
STYLE DS_CONTROL | WS_CHILD
CAPTION "録画"
FONT 9,"Meiryo UI"
BEGIN
	LTEXT "TvRock からの録画の場合、保存先フォルダとファイル名は TvRock の設定が使用されます。",-1,8,8,224,16
	RTEXT "保存先フォルダ(&F):",-1,8,30,60,8
	EDITTEXT IDC_TASK_SETTINGS_RECORDING_FOLDER,72,28,144,12,ES_AUTOHSCROLL
	PUSHBUTTON "...",IDC_TASK_SETTINGS_RECORDING_FOLDER_BROWSE,220,27,14,14
	RTEXT "ファイル名(&N):",-1,8,46,60,8
	EDITTEXT IDC_TASK_SETTINGS_RECORDING_FILE_NAME,72,44,144,12,ES_AUTOHSCROLL | ES_NOHIDESEL
	PUSHBUTTON "▼",IDC_TASK_SETTINGS_RECORDING_FILE_NAME_FORMAT,220,43,14,14
	RTEXT "プレビュー:",-1,8,60,60,8
	EDITTEXT IDC_TASK_SETTINGS_RECORDING_FILE_NAME_PREVIEW,72,60,160,8,ES_READONLY | ES_AUTOHSCROLL | NOT WS_BORDER

	GROUPBOX "予備のフォルダ(&L)",-1,8,76,224,68,BS_GROUPBOX
	CONTROL "",IDC_TASK_SETTINGS_RECORDING_FOLDER_LIST,"SysListView32",WS_CHILD | WS_VISIBLE | WS_BORDER | WS_HSCROLL | WS_VSCROLL | WS_TABSTOP | LVS_REPORT | LVS_SINGLESEL | LVS_NOCOLUMNHEADER | LVS_EDITLABELS | LVS_SHOWSELALWAYS,16,88,172,48
	PUSHBUTTON "追加...",IDC_TASK_SETTINGS_RECORDING_FOLDER_LIST_BROWSE,192,88,32,12
	PUSHBUTTON "上へ",IDC_TASK_SETTINGS_RECORDING_FOLDER_LIST_UP,192,100,32,12,WS_DISABLED
	PUSHBUTTON "下へ",IDC_TASK_SETTINGS_RECORDING_FOLDER_LIST_DOWN,192,112,32,12,WS_DISABLED
	PUSHBUTTON "削除",IDC_TASK_SETTINGS_RECORDING_FOLDER_LIST_REMOVE,192,124,32,12,WS_DISABLED

	AUTOCHECKBOX "現在のサービスのみ保存する(&S)",IDC_TASK_SETTINGS_RECORDING_CURRENT_SERVICE,8,152,112,9
	AUTOCHECKBOX "字幕データを保存する(&U)",IDC_TASK_SETTINGS_RECORDING_SAVE_CAPTION,8,164,96,9
	AUTOCHECKBOX "データ放送を保存する(&A)",IDC_TASK_SETTINGS_RECORDING_SAVE_DATA_CARROUSEL,8,176,96,9

	AUTOCHECKBOX "ファイル領域を事前確保する(&P)",IDC_TASK_SETTINGS_RECORDING_PRE_ALLOCATE,8,194,104,9
	RTEXT "確保する単位(&Z):",IDC_TASK_SETTINGS_RECORDING_PRE_ALLOCATE_SIZE_LABEL,120,194,56,8
	EDITTEXT IDC_TASK_SETTINGS_RECORDING_PRE_ALLOCATE_SIZE,180,192,32,12,ES_NUMBER | ES_AUTOHSCROLL
	LTEXT "",IDC_TASK_SETTINGS_RECORDING_PRE_ALLOCATE_SIZE_UNIT,214,194,12,8
	RTEXT "ファイルへの書き出し単位(&W):",-1,8,210,88,8
	EDITTEXT IDC_TASK_SETTINGS_RECORDING_WRITE_SIZE,100,208,32,12,ES_NUMBER | ES_AUTOHSCROLL
	LTEXT "",IDC_TASK_SETTINGS_RECORDING_WRITE_SIZE_UNIT,134,210,12,8
END

IDD_TASK_SETTINGS_STREAMING DIALOG 0,0,240,240
STYLE DS_CONTROL | WS_CHILD
CAPTION "ストリーミング"
FONT 9,"Meiryo UI"
BEGIN
	GROUPBOX "プロトコル",-1,8,8,48,48,BS_GROUPBOX
	AUTORADIOBUTTON "UDP(&U)",IDC_TASK_SETTINGS_STREAMING_PROTOCOL_UDP,16,22,36,8,WS_GROUP
	AUTORADIOBUTTON "TCP(&T)",IDC_TASK_SETTINGS_STREAMING_PROTOCOL_TCP,16,38,36,8
	GROUPBOX "送信先",-1,64,8,168,48,BS_GROUPBOX
	RTEXT "アドレス(&A):",-1,72,22,36,8
	EDITTEXT IDC_TASK_SETTINGS_STREAMING_ADDRESS,112,20,80,12,ES_AUTOHSCROLL
	RTEXT "ポート(&P):",-1,72,38,36,8
	EDITTEXT IDC_TASK_SETTINGS_STREAMING_PORT,112,36,24,12,ES_AUTOHSCROLL | ES_NUMBER
	AUTOCHECKBOX "未使用のポートを探す(&F)",IDC_TASK_SETTINGS_STREAMING_FIND_UNUSED_PORT,140,38,88,9

	AUTOCHECKBOX "現在のサービスのみ送信する(&S)",IDC_TASK_SETTINGS_STREAMING_CURRENT_SERVICE,8,64,120,9
	AUTOCHECKBOX "字幕データを送信する(&C)",IDC_TASK_SETTINGS_STREAMING_SEND_CAPTION,8,76,96,9
	AUTOCHECKBOX "データ放送を送信する(&D)",IDC_TASK_SETTINGS_STREAMING_SEND_DATA_CARROUSEL,8,88,96,9
	AUTOCHECKBOX "ワンセグのみ送信する(&1)",IDC_TASK_SETTINGS_STREAMING_1SEG_ONLY,8,100,96,9

	RTEXT "一度に送信するパケット数(&K):",-1,8,118,88,8
	EDITTEXT IDC_TASK_SETTINGS_STREAMING_SEND_SIZE,100,116,32,12,ES_NUMBER | ES_AUTOHSCROLL
	RTEXT "送信間隔(&N):",-1,8,134,88,8
	EDITTEXT IDC_TASK_SETTINGS_STREAMING_SEND_WAIT,100,132,32,12,ES_NUMBER | ES_AUTOHSCROLL
	LTEXT "ms",-1,134,134,16,8
	AUTOCHECKBOX "送信間隔を自動調整する(&J)",IDC_TASK_SETTINGS_STREAMING_ADJUST_SEND_WAIT,100,148,104,9
END

IDD_LOG DIALOG 0,0,240,218
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "ログ"
FONT 9,"Meiryo UI"
BEGIN
	CONTROL "",IDC_LOG_LIST,"SysListView32",WS_CHILD | WS_VISIBLE | WS_BORDER | WS_HSCROLL | WS_VSCROLL | WS_TABSTOP | WS_CLIPSIBLINGS | LVS_REPORT | LVS_SINGLESEL | LVS_NOSORTHEADER,4,4,232,192
	PUSHBUTTON "保存(&S)...",IDC_LOG_SAVE,8,200,56,14,WS_CLIPSIBLINGS
END

IDD_CHANNEL_LIST DIALOG 0,0,320,218
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "チャンネル一覧"
FONT 9,"Meiryo UI"
BEGIN
	CONTROL "",IDC_CHANNELS_LIST,"SysListView32",WS_CHILD | WS_VISIBLE | WS_BORDER | WS_HSCROLL | WS_VSCROLL | WS_TABSTOP | WS_CLIPSIBLINGS | LVS_REPORT | LVS_SINGLESEL | LVS_NOSORTHEADER,4,4,312,192
	PUSHBUTTON "ch-*.txt の形式でコピー",IDC_CHANNELS_COPY_CH_TXT,8,200,96,14,WS_DISABLED | WS_CLIPSIBLINGS
END

IDD_TASK_INFO DIALOG 0,0,192,190
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "タスクの情報"
FONT 9,"Meiryo UI"
BEGIN
	CONTROL "",IDC_TASK_INFO_LIST,"SysListView32",WS_CHILD | WS_VISIBLE | WS_BORDER | WS_HSCROLL | WS_VSCROLL | WS_TABSTOP | WS_CLIPSIBLINGS | LVS_REPORT | LVS_SINGLESEL | LVS_NOSORTHEADER,4,4,184,164
	PUSHBUTTON "更新(&U)",IDC_TASK_INFO_UPDATE,8,172,48,14,WS_CLIPSIBLINGS
END

IDD_SEND_MESSAGE DIALOG 0,0,224,188
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "メッセージ送信"
FONT 9,"Meiryo UI"
BEGIN
	EDITTEXT IDC_MESSAGE_SEND_MESSAGE,4,4,216,80,ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL
	PUSHBUTTON "クリア",IDC_MESSAGE_CLEAR,4,87,48,14
	AUTOCHECKBOX "全てのタスクに送信",IDC_MESSAGE_BROADCAST,72,90,80,9
	DEFPUSHBUTTON "送信",IDC_MESSAGE_SEND,156,87,64,14
	EDITTEXT IDC_MESSAGE_RECEIVE_MESSAGE,4,104,216,80,ES_MULTILINE | ES_READONLY | WS_VSCROLL | WS_HSCROLL
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION APP_VERSION_MAJOR,APP_VERSION_MINOR,APP_VERSION_REVISION,APP_VERSION_BUILD
 PRODUCTVERSION APP_VERSION_MAJOR,APP_VERSION_MINOR,APP_VERSION_REVISION,APP_VERSION_BUILD
 FILEFLAGSMASK 0x3FL
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "041104B0"
		BEGIN
			VALUE "Comments", "TSTask Control Program\0"
			VALUE "CompanyName", "DBCTRADO\0"
			VALUE "FileDescription", APP_NAME "\0"
			VALUE "FileVersion", APP_VERSION_TEXT "\0"
			VALUE "InternalName", APP_NAME "\0"
			VALUE "LegalCopyright", "DBCTRADO\0"
			VALUE "OriginalFilename", APP_NAME ".exe\0"
#ifdef _DEBUG
			VALUE "PrivateBuild", "\0"
#endif
			VALUE "ProductName", APP_NAME "\0"
			VALUE "ProductVersion", APP_VERSION_TEXT "\0"
#ifdef _DEBUG
			VALUE "SpecialBuild", "\0"
#endif
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x411, 1200
	END
END
